/cmder
/desktop.ini
/Linux Cheat Sheet.url
/Microsoft Office
/Notepad++.lnk
/Owen Coughlan CV January 2024.pdf
/Owen Coughlan TUS Documents
/PrinciplesOfDataAnalyticsProject
/Python All-In-One for Dummies ( PDFDrive ).pdf
/test.py
/Visual Studio Code.lnk
/~$erical Officer Level Competencies.docx